#version=DEVEL

#Firewall configuration
firewall --disabled

# Install OS instead of upgrade install
install 

# Use FTP installation media
url --url="ftp://192.168.35.16/centos7/"

# Root password
rootpw --iscrypted $1$g16q5BIb$KLumiVG4fMedeISosOz0V.

# Users
user --name=ansible --iscrypted --password=$1$g16q5BIb$KLumiVG4fMedeISosOz0V.
user --name=admin   --iscrypted --password=$1$g16q5BIb$KLumiVG4fMedeISosOz0V.

# System authorization information
auth useshadow passalgo=sha512

# Use graphical install graphical
firstboot disable

#System keyboard
keyboard us

#System language
lang en_US

#SELinux configuration
selinux disabled

#Installation logging level
logging level=info

#System timezone 
timezone "America/New_York"

#System bootloader configuration
bootloader location=mbr
clearpart --all --initlabel
autopart --type=lvm

#System Services
services --enabled="chronyd"
services --disable="firewalld"

#Packages to install
%packages
@^minimal
@core
chrony
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end

%post
echo "ansible ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/sudousers
echo "admin ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/sudousers
sed -i "s/^\#PermitRootLogin.*/PermitRootLogin no/" /etc/ssh/sshd_config
sed -i s/^SELINUX=.*$/SELINUX=disabled/ /etc/selinux/config

%end
